/*
body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
    color: #333;
}

.post {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.post-summary {
    font-size: 18px;
    font-weight: lighter;
    color: #666;
}
*/
body {
    font-family: Arial, sans-serif;
    /* margin: 40px; */
}

h1 {
    color: #333;
}

#search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.post {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}

.post:hover {
    background-color: #f0f0f0;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.post-summary {
    font-size: 18px;
    font-weight: lighter;
    color: #666;
}

.post-tag {
    font-size: 14px;
    color: #888;
}

#add
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaeef3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2d34;
    padding: 10px 20px;
}

.nav-left, .nav-right {
    display: flex;
}

.nav-right a {
    margin-left: 20px;
}

.navbar a {
    color: #d1d1d1;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* 添加 transform 到过渡效果中 */
}

.navbar a:hover {
    background-color: #41454d;
    color: white;
    transform: scale(1.2);
}
