/* Default (light mode) styles */
body {
    background-color: white;
    color: black;
    transition: background-color 0.5s, color 0.5s;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

/* Dark mode styles */
.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}
